---
---
// Do NOT use @import "minima"; 
// Use this instead:
@import "minima/initialize";
@import "minima/base";
@import "minima/layout";
@import "minima/syntax-highlighting";

// Now add your font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

.site-title {
  font-family: 'Playfair Display', serif !important;
}
